# 190031920
# A Nikhil Reddy
# DS Practical 7

In [1]:
import pandas as pd

In [21]:
data = pd.read_csv("Iris.csv")
del data['Id']
data.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

data.head()

,sepal length,sepal width,petal length,petal width,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [3]:
data.describe()

In [4]:
from pandas.api.types import is_numeric_dtype

for col in data.columns:
    if is_numeric_dtype(data[col]):
        print('%s:' %col)
        print('\t Mean = %.2f' % data[col].mean())
        print('\t Standard deviation = %.2f' % data[col].std())
        print('\t Minimum = %.2f' % data[col].min())
        print('\t Maximum = %.2f' % data[col].max())

In [22]:
print("Correlation : ")
data.corr()

Correlation :

,sepal length,sepal width,petal length,petal width
sepal length,1.000000,-0.109369,0.871754,0.817954
sepal width,-0.109369,1.000000,-0.420516,-0.356544
petal length,0.871754,-0.420516,1.000000,0.962757
petal width,0.817954,-0.356544,0.962757,1.000000

In [18]:
data['sepal length'] += 1
data

,sepal length,sepal width,petal length,petal width,class
0,6.1,3.5,1.4,0.2,Iris-setosa
1,5.9,3.0,1.4,0.2,Iris-setosa
2,5.7,3.2,1.3,0.2,Iris-setosa
3,5.6,3.1,1.5,0.2,Iris-setosa
4,6.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,7.7,3.0,5.2,2.3,Iris-virginica
146,7.3,2.5,5.0,1.9,Iris-virginica
147,7.5,3.0,5.2,2.0,Iris-virginica
148,7.2,3.4,5.4,2.3,Iris-virginica
149,6.9,3.0,5.1,1.8,Iris-virginica

In [19]:
data['petal length'] *= 2
data

,sepal length,sepal width,petal length,petal width,class
0,6.1,3.5,2.8,0.2,Iris-setosa
1,5.9,3.0,2.8,0.2,Iris-setosa
2,5.7,3.2,2.6,0.2,Iris-setosa
3,5.6,3.1,3.0,0.2,Iris-setosa
4,6.0,3.6,2.8,0.2,Iris-setosa
...,...,...,...,...,...
145,7.7,3.0,10.4,2.3,Iris-virginica
146,7.3,2.5,10.0,1.9,Iris-virginica
147,7.5,3.0,10.4,2.0,Iris-virginica
148,7.2,3.4,10.8,2.3,Iris-virginica
149,6.9,3.0,10.2,1.8,Iris-virginica

In [20]:
print("Correlation : ")
data.corr()

Correlation :

,sepal length,sepal width,petal length,petal width
sepal length,1.000000,-0.109369,0.871754,0.817954
sepal width,-0.109369,1.000000,-0.420516,-0.356544
petal length,0.871754,-0.420516,1.000000,0.962757
petal width,0.817954,-0.356544,0.962757,1.000000

In [23]:
data['sepal length'] -= 1.5
data

,sepal length,sepal width,petal length,petal width,class
0,3.6,3.5,1.4,0.2,Iris-setosa
1,3.4,3.0,1.4,0.2,Iris-setosa
2,3.2,3.2,1.3,0.2,Iris-setosa
3,3.1,3.1,1.5,0.2,Iris-setosa
4,3.5,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,5.2,3.0,5.2,2.3,Iris-virginica
146,4.8,2.5,5.0,1.9,Iris-virginica
147,5.0,3.0,5.2,2.0,Iris-virginica
148,4.7,3.4,5.4,2.3,Iris-virginica
149,4.4,3.0,5.1,1.8,Iris-virginica

In [24]:
data['petal length'] /=2
data

,sepal length,sepal width,petal length,petal width,class
0,3.6,3.5,0.70,0.2,Iris-setosa
1,3.4,3.0,0.70,0.2,Iris-setosa
2,3.2,3.2,0.65,0.2,Iris-setosa
3,3.1,3.1,0.75,0.2,Iris-setosa
4,3.5,3.6,0.70,0.2,Iris-setosa
...,...,...,...,...,...
145,5.2,3.0,2.60,2.3,Iris-virginica
146,4.8,2.5,2.50,1.9,Iris-virginica
147,5.0,3.0,2.60,2.0,Iris-virginica
148,4.7,3.4,2.70,2.3,Iris-virginica
149,4.4,3.0,2.55,1.8,Iris-virginica

In [25]:
print("Correlation : ")
data.corr()

Correlation :

,sepal length,sepal width,petal length,petal width
sepal length,1.000000,-0.109369,0.871754,0.817954
sepal width,-0.109369,1.000000,-0.420516,-0.356544
petal length,0.871754,-0.420516,1.000000,0.962757
petal width,0.817954,-0.356544,0.962757,1.000000